body {
    background-color: #192524;
    text-align: center;
    font-family: sans-serif;
    margin: 0;
    width: auto;
    height: auto;
    background-image: url("assets/cat.png");
    background-repeat: space;
    background-position-y: bottom;

    background-size: 600px;
}

h2 {
    text-align: center;
    font-size: 35px;
    font-family: "Comic Sans MS", sans-serif;
    color: rgba(234, 209, 19, 0.95);
    animation-name: header;
    animation-duration: 4s;
    animation-iteration-count: infinite;


}

#ok-btn {
    font-family: "Avenir Next" , sans-serif;
    border-radius: 15px;
    flex-wrap: wrap;
    align-content: center;
    width: 207px;
    background-color: antiquewhite;
    border-color: #6b7e63;
    border-width: 2px;
    border-style: solid;
    text-decoration-color: #192524;
}

button {
    font-family: "Avenir Next" , sans-serif;
    border-radius: 15px;
    font-weight: bold;
    flex-wrap: wrap;
    align-content: center;
    width: 100px;
    height: 30px;
    background-color: rgba(113, 154, 95, 0.51);
    text-decoration-color: #192524;
    border-color: #6b7e63;
    border-width: 2px;
    border-style: solid;
}



#message {
    font-size: 14pt;
    font-family: "Comic Sans MS", sans-serif;
    color: rgb(41, 42, 69);
    flex: 1 1 auto;

}

@keyframes header {
    0% {color: rgba(175,22,9,0.95) }
    20% {color: rgba(253, 122, 12, 0.95)}
    40% {color: rgba(211, 170, 13, 0.95)}
    60% {color: rgba(126, 193, 102, 0.95)}
    80% {color: rgba(48, 114, 142, 0.95)}
    100% {color: rgba(72, 28, 133, 0.95)
    }

}



#message-box {
    background: #8db1b5;
    text-align: center;
    flex-wrap: wrap;
    align-content: center;
    margin: 10px auto;
    font-size: 12pt;
    display: flex;
    font-family: sans-serif;
    width: 420px;
    border-radius: 25px;

}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 130px);
    gap: 10px;
    justify-content: center;
    margin: 20px auto;
}

.grid div {
    background: #799090;
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    border-radius: 10px;
}
